<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practica2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Bookmarked"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/TemaDAS"
        android:usesCleartextTraffic="true">
        <receiver android:name=".Widget.AlarmManagerBroadcastRecevier"/>
        <receiver android:name=".Widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.Practica2.ACTUALIZAR_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <activity android:name=".Widget.WidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".Actividades.GoogleMaps" />
        <activity android:name=".Actividades.LibroCompartido">
            <intent-filter>
                <action android:name="MENSAJE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Actividades.PreferenciasActivity" />
        <activity android:name=".Actividades.RegisterActivity" />
        <activity android:name=".Actividades.InfoLibroBiblioteca" />
        <activity android:name=".Actividades.MainActivity" />
        <activity android:name=".Actividades.InfoLibro" />
        <activity android:name=".Actividades.MainActivityBiblioteca" />
        <activity android:name=".Actividades.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Firebase.ServicioFirebase"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.practica2.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/configalmacen" />
        </provider>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCdmZMChG_gcT8U1SWLnEbpiVEhUBDJVg" />
        <service android:name=".ServicioMusica.ServicioMusica"/>
        <receiver android:name=".ServicioMusica.ReceiverTelefono">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>